@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff3ff;
    color: #202122;
    line-height: 1.6;
  }

  a {
    color: #0645ad;
  }

  a:hover {
    color: #0b0080;
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Linux Libertine', 'Georgia', 'Times New Roman', Times, serif;
    color: #202122;
  }

  table {
    border-collapse: collapse;
  }
}

